body {
  text-align: center;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  margin: 0;
}

.banner-container {
  position: relative;
}

.banner-image {
  min-height: 20px;
}

.banner-text h2 {
  color: #fff;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: monospace;
  font-size: 20px;
  position: absolute;
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  .banner-text h2 {
    font-size: 30px;
  }
}

.banner-text h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 1px #000;
}

.banner-text h2:nth-child(2) {
  color: #000;
  animation: bannerTextAnimation 4s ease-in-out infinite;
}

#images_container img {
  border: 8px solid #fff;
  margin: 0;
  padding: 0;
  object-fit: cover;
  vertical-align: middle;
  width: 100%;
}

#images_container span {
  --borderWidth: 1px;
  background: #1D1F20;
  position: relative;
  display: inline-block;
  margin: 16px;
  width: 70%;
}

#images_container span:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #000, #000, #fff, #fff, #000, #000, #fff, #fff);
  z-index: -1;
  animation: portalImageAnimation 3s ease alternate infinite;
  background-size: 300% 300%;
}

.footer {
  background-color: #2d3738;
  padding: 16px;
  color: #fff;
  font-family: monospace;
  clear: both;
}

.footer-text {
  float: right;
}

.clearfix {
  clear: both;
}

@keyframes bannerTextAnimation {
  0%,
  100% {
    clip-path: polygon(0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%);
  }
}

@keyframes portalImageAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
