body {
    text-align: center;
    background-image: url("background.png");
    background-size: cover;
}

#images_container img {
    border: 8px solid #fff;
    margin: 0;
    padding: 0;
    object-fit: cover;
    vertical-align: middle;
    width: calc(100% - 16px);
}

#images_container span {
  --borderWidth: 1px;
  background: #1D1F20;
  position: relative;
  display: inline-block;
  margin: 16px;
  width: 75%;
}

#images_container span:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #000, #000, #fff, #fff, #000, #000, #fff, #fff);
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
